* {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/88/15/63/881563d6444b370fa4ceea0c3183bb4c.gif');
    background-size: cover;
}

body {
    background-color: #101010;
}


.min-height {
    min-height: 70vh;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    font-family: 'Source Code Pro', monospace;
}

a {
    color: rgb(0, 106, 102);
    text-decoration: none;
    transition: all 0.3ms ease-in;
}

a:hover {
    color: #0222d7;
}


.center-crop {
    width: 900px;
    margin: 0 auto;
}

.center {
    position: relative;
    margin: auto;
    width: 50%;
    text-align: center;
}

.vertical-align-parent {
    position: relative;
    height: 30vh;
}

.vertical-align-child {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    background-color: rgba(5, 5, 5, 0.671);
    border-radius: 15px;
    height: 250px;
    -webkit-box-shadow: 0px 0px 81px -15px rgba(13,82,246,1);
    -moz-box-shadow: 0px 0px 81px -15px rgba(13,82,246,1);
    box-shadow: 0px 0px 81px -15px rgba(13,82,246,1);
    padding: 30px;
}

/* 
    HEADER ELEMENTS 
*/

header {
    width: 100%;
}

/* 
    MENU / NAV ELEMENTS
*/

#nav {
    display: flex;
    list-style: none;
    flex-direction: row;
    font-size: 12pt;
    justify-items: center;
    transition: all 0.3s ease;
    /* width: 100% */
}



#nav .title {
    text-transform: uppercase;
    color: yellow;
    font-family: 'Wallpoet', cursive;
    font-size: 30px;
    
}

#nav .title:hover {
    color: yellow;
    color: #FF1177;
}

#nav li {
    border: 5px solid transparent;
    font-size: 13pt;
    display: grid;
}

#nav li a {
    color: whitesmoke;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: 'Special Elite', cursive;
    display: grid;
    text-align: baseline;

}

#nav li a:hover {
    transition: all 0.3s ease;
    color: blue;
    -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(20deg);}
    75% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(0deg);}
  }
  
  @-ms-keyframes wiggle {
    0% {-ms-transform: rotate(1deg);}
    25% {-ms-transform: rotate(-1deg);}
    50% {-ms-transform: rotate(1.5deg);}
    75% {-ms-transform: rotate(-5deg);}
    100% {-ms-transform: rotate(0deg);}
  }
  
  @keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }

#nav li {
    letter-spacing: 3pt;
    border: 15px solid transparent;
}

main {
    position: relative;
    min-height: 70vh;
    padding: 15px;

}

/* FOOTER ELEMENTS */

footer {
    text-align: center;
    color: silver;
    background-color: #101010;
    padding: 15px;
}

footer a {
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
}

footer a:hover {
    color: rgb(18, 43, 235);
}


/* Button */

button {
    background-color: rgb(18, 60, 199);
    border: 1px solid silver;
    color: rgb(197, 228, 237);
    font-size: 1em;
    font-family: 'Special Elite', cursive;
    padding: 10px 10px;
    width: 150px;
    font-weight: normal;
    margin-left: 20px;
}
#login-button{
    background-color: rgb(18, 60, 199);
    border: 1px solid silver;
    color: rgb(197, 228, 237);
    font-size: 1em;
    font-family: 'Special Elite', cursive;
    padding: 10px 10px;
    width: 150px;
    font-weight: normal;
    margin-left: 20px;
    border-radius: 15px;
    display: grid;
    justify-self: center;
}

button:hover {
    -webkit-box-shadow: 0px 0px 46px -4px rgba(245,240,245,1);
    -moz-box-shadow: 0px 0px 46px -4px rgba(245,240,245,1);
    box-shadow: 0px 0px 46px -4px rgba(245,240,245,1);
}

button:first-of-type {
    margin-left: 0px;
}

.add-form .close-button {
    display: none;
}

/* PAGE SPECIFIC */

#welcome-screen {
    height: 100vh;
    position: relative;
    background-position: center;
    transition: all 0.5s ease-in-out;
    text-align: center;
    background-size: cover;
}

#welcome-screen h1 {
    text-transform: uppercase;
    color: yellow;
    font-family: 'Wallpoet', cursive;
    font-size: 80px;
    display: grid;
    text-align: center;
  
}

.tab {
    border: none;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    outline: none;
}

.tab:hover {
    background-color: #3BA6F8;
    color: black;
    cursor: pointer;
}

.login-form {
    width: 440px;
    margin: 0;
    float: left;
    display: grid;
    justify-content: center;
}

.login-form input {
    position: relative;
    float: left;
    clear: both;
    margin-bottom: 10px;
    width: 300px;
}


#user-info-edit-screen img {
    width: 250px;
    height: 250px;
    /* float: left; */
    border-radius: 200px;
    margin: 40px 0 0 40px;
}

#user-info-form {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 100%;
    grid-gap: 20px;
}



#user-info-form input {
    width: 335px;
    height: 50px;
}

#user-info-form>div:nth-child(3) {
    display: flex;
}




.wiggle {
    -webkit-animation-name: wiggle;
    -webkit-animation-duration: 400ms;
    -webkit-animation-count: 1;
    -webkit-animation-function: ease-in-out;
}

@keyframes wiggle {
    30% {
      transform: rotate( -5deg);
    }
    60% {
      transform: rotate( 5deg);
    }
    100% {
      transform: rotate( 0deg);
    }
  }

  .spin {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: 1s;
    animation-timing-function: linear; 
  }

  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.swal-modal{
    background-color: rgb(255, 255, 255);
    
}
.swal-title {
    font-family: 'Special Elite', cursive;
}

.swal-text {
    font-family: 'Special Elite', cursive;

}
.swal-button {
    background-color: #3BA6F8;
    cursor: pointer;
    
}








