* {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/88/15/63/881563d6444b370fa4ceea0c3183bb4c.gif');
    background-size: cover;
}

body {
    background-color: #101010;
}


.min-height {
    min-height: 70vh;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    font-family: 'Source Code Pro', monospace;
}

a {
    color: rgb(0, 106, 102);
    text-decoration: none;
    transition: all 0.3ms ease-in;
}

a:hover {
    color: #d71d02;
}


.center-crop {
    width: 900px;
    margin: 0 auto;
}

.center {
    position: relative;
    margin: auto;
    width: 50%;
    text-align: center;
}

.vertical-align-parent {
    position: relative;
    height: 70vh;
}

.vertical-align-child {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    background-color: white;
    /* width: 400px; */
    /* height: 100px; */
    /* display: flex; */
    /* justify-content: center; */
}

/* 
    HEADER ELEMENTS 
*/

header {
    width: 100%;
}

/* 
    MENU / NAV ELEMENTS
*/

#admin-nav {
    display: flex;
    background-color: #c2b2b217;
    list-style: none;
    flex-direction: row;
    font-size: 12pt;
    justify-items: center;
    transition: all 0.3s ease;
    /* width: 100% */
}



#admin-nav .title {
    text-transform: uppercase;
    color: #0d14d1;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
}

#admin-nav li {
    border: 5px solid transparent;
    font-size: 13pt;
    /* display: grid; */
}

#admin-nav li a {
    color: whitesmoke;
    text-decoration: none;
    transition: all 0.3s ease;
}

#admin-nav li a:hover {
    transition: all 0.3s ease;
    color: #e9d750;
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(20deg);}
    75% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(0deg);}
  }

@-ms-keyframes wiggle {
  0% {-ms-transform: rotate(1deg);}
  25% {-ms-transform: rotate(-1deg);}
  50% {-ms-transform: rotate(1.5deg);}
  75% {-ms-transform: rotate(-5deg);}
  100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
  0% {transform: rotate(10deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(20deg);}
  75% {transform: rotate(-5deg);}
  100% {transform: rotate(0deg);}
}

#admin-nav li {
    letter-spacing: 3pt;
    border: 15px solid transparent;
}

main {
    position: relative;
    min-height: 70vh;
    padding: 15px;

}

/* FOOTER ELEMENTS */

footer {
    text-align: center;
    color: silver;
    background-color: #101010;
    padding: 15px;
}

footer a {
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
}

footer a:hover {
    color: rgb(18, 43, 235);
}


/* Button */

button {
    background-color: rgb(18, 60, 199);
    border: 1px solid silver;
    color: rgb(197, 228, 237);
    font-size: 1em;
    font-family: 'Special Elite', cursive;
    padding: 10px 10px;
    width: 150px;
    /* text-transform: uppercase; */
    font-weight: normal;
    margin-left: 20px;
}

button:hover {
    -webkit-box-shadow: 0px 0px 46px -4px rgba(245,240,245,1);
    -moz-box-shadow: 0px 0px 46px -4px rgba(245,240,245,1);
    box-shadow: 0px 0px 46px -4px rgba(245,240,245,1);
}

button:first-of-type {
    margin-left: 0px;
}

/* .close-button {
    width: 20px;
    background: url('./gfx/close-button.png');
    background-size: cover;
    background-repeat: none;
    background-position: center;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
} */

.add-form .close-button {
    display: none;
}

/* PAGE SPECIFIC */

#welcome-screen {
    height: 100vh;
    position: relative;
    background-position: center;
    transition: all 0.5s ease-in-out;
    text-align: center;
    /* background: url("https://source.unsplash.com/collection/2569191/800x600") center no-repeat; */
    background-size: cover;
}

#welcome-screen h1 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15vw;
    letter-spacing: 10px;
    text-shadow:0px 0px 5px #000000;
}

#login-screen {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    grid-gap: 20px;
    width: 440px;
}

#login-screen h1 {
    font: bolder 98px 'Montserrat';
    margin: 0;
    /* background: url("https://source.unsplash.com/collection/2569191/800x600") center; */
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 8px;
    margin: 40px 0;
}

#login-screen .tab {
    background-color: black;
    border: none;
    margin-right: 1px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

#login-screen .tab:hover {
    background-color: rgb(0, 106, 102);
}

.login-form {
    width: 440px;
    display: block;
    margin: 0;
    float: left;
}

.login-form input {
    position: relative;
    float: left;
    clear: both;
    margin-bottom: 10px;
}

.login-form button {
    position: relative;
    float: left;
    clear: none;
}

#categories-screen {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    grid-gap: 20px;
    width: 440px;
}


#user-info-edit-screen img {
    width: 250px;
    height: 250px;
    float: left;
    border-radius: 200px;
    margin: 40px 0 0 40px;
}

#user-info-form {
    display: grid;
    grid-template-columns: auto auto 1fr;
    /* grid-template-rows: 100%; */
    grid-gap: 20px;
}

/* #user-info-form > div {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 20px;
} */

#user-info-form input {
    width: 335px;
    height: 50px;
}

#user-info-form>div:nth-child(3) {
    display: flex;
}

/* #user-info-form button {
    height: 40px;
    align-self: center;
    border-radius: 15px;
} */

#progress-bar {
    display: flex;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 80px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: rgb(18, 60, 199);
    border: 1px solid silver;
    color: rgb(197, 228, 237);
    font-size: 1em;
    padding: 10px 10px;
    width: 150px;
    font-weight: normal;
    margin-left: 20px;
    cursor: pointer;
    font-family: 'Special Elite', cursive;
    text-align: center;
    border-radius: 15px;
    margin: 10px;

}

.custom-file-upload:hover {
    -webkit-box-shadow: 0px 0px 46px -4px rgba(245,240,245,1);
    -moz-box-shadow: 0px 0px 46px -4px rgba(245,240,245,1);
    box-shadow: 0px 0px 46px -4px rgba(245,240,245,1);
}

.input-label {
    color: rgb(197, 228, 237);
    padding: 10px;
    font-family: 'Special Elite', cursive;
    height: 100px;
    
}




